/*header style*/

.banner {
    background: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    max-width: 1320px;
    margin: 50px auto 0px;
    border-radius: 16px;

}



.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 300px 0px;
}





.banner-des {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    padding: 0px 300px 50px;
}

main {
    max-width: 1320px;
    margin: 0 auto;
}

/*section off style*/
.off-section {

    text-align: center;

    margin: auto;
    margin-top: 200px;
}

.off {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}

.off-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 0px;
}

.off-item {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}

.of-img {
    width: 802.9px;
    height: 500px;
}

/*welcom section style*/

.welcome-section {
    background-image: url('../resources/Vectorrr.png');
    padding: 60px 138px 60px 126px;
    margin: 120px 0px 140px 0px;
    display: flex;
    align-items: center;

}

.welcome-title {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;

    font-weight: 900;


}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;

    font-weight: 400;

}

.join-btn {


    text-align: center;
    font-family: Inter;
    font-size: 20px;
    border: 0 font-weight: 700;


}

.welcome-pic {


    width: 319.83px;
    height: 464.662px;


}

.portfolio-section {}

.portfolio-title {
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio-item {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio-dex {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.item-pic:hover {
    box-shadow: 5px -5px 5px 5px black;
}

.item-pic {
    padding: 0px 5px 5px 0px;
}

/*subscribe style*/
.subscribe-section {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    text-align: center;
    padding: 80px 212px;
    margin-bottom: 120px;
}

.subscribe-title {
    color: #070211;


    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;

    text-transform: capitalize;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.subscribe-btns {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    margin: auto;
    margin-top: 48px;

}

.sub-btn {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;

    font-family: Inter;
    font-size: 20px;

    font-weight: 600;
    padding: 24px 56px;
}

.email {}

#subs {}

/* footer style*/
footer {
    background: #070211;

    height: 609px;
    padding: 120px 140px;
    text-align: center;
}

.footer-box {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

}

.footer-column {

}

#call{
    width: 24px;
height: 24px;


}
hr{
    background: rgba(255, 255, 255, 0.15);
    

}
.link{
    margin: 48px 0px;
}

   