/*header style*/
.banner{
    background-image: url(../resources/Banner\ Image.png);
    width: 1320px;
height: 600px;
border-radius: 16px;
background-repeat: no-repeat;
padding:50px 0px 0px 140px;
background-position: center;
margin: auto;
}
.banner-box{
    
}


.banner-title{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 150px 500px 0px;



}
.banner-des{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
padding: 0px 350px 170px;
}
/*section off style*/
.off-section{
    width: 1600px;
height: 7335px;
text-align: center;

margin: auto;
margin-top: 200px;
}
.off{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 48px;
}
.off-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 0px; 
}
.off-item{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 48px;
}
.of-img{
    width: 802.9px;
height: 500px;
}